@media (max-width: 575.98px) { 
    .card{
        padding: 1;
        margin: 1;
    }
    .container{
        padding: 1;
        margin: 1;
    }
    h1{
        font-size: x-large;
    }
    .colornav{
        color: rgb(1, 96, 45) !important;
    }

   }
