<div class="text-center container containerPrincipal">
  <div class="card shadow-lg d-flex p-3 m-3">
    <div class="p-4">
      <h1>App Lost UdeA<i class="fa fa-search pl-2"></i></h1>
    </div>
    <!--Formulario para crear objeto perdido-->
    <form #crearobjeto = "ngForm" (ngSubmit)="onSubmit(crearobjeto.value)" ngNativeValidate>
      <div class="row">
        <div class="col">
          <div class="p-3">
            <label for="basic-url">¿Qué encontraste? *</label>
            <div class="input-group mb-1">
              <!--Input de nombreObjeto-->
              <input type="text" name="nombreObjeto" placeholder="Nombre" class="form-control" autocomplete="off" ngModel required/>
            </div>
          </div>
          <div class="p-3">
            <label for="basic-url">¿Cuando se encontró? *</label>
            <div class="input-group mb-1">
              <!--Input de fechaEncontrado-->
              <input type="date" name="fechaEncontrado" placeholder="Fecha" class="form-control" autocomplete="off" ngModel required/>
            </div>
          </div>
          <div class="p-3">
            <label for="basic-url">¿Dónde se encontró? *</label>
            <div class="input-group mb-1">
              <!--Input de lugarEncontrado-->
              <input type="text" name="lugarEncontrado" placeholder="Lugar Encontrado" class="form-control" autocomplete="off" ngModel required/>
            </div>
          </div>

          <div class="p-3">
            <label for="basic-url">Categoría *</label>
            <div class="input-group mb-1">
              <!--Select de categoriasID-->
              <select type="text" name="categoriasId" placeholder="Categoría" class="custom-select" ngModel>
                <option [value]="categoria.id" *ngFor="let categoria of listaCategorias">{{categoria.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="p-3">
            <label for="basic-url">Lugar de reclamo *</label>
            <div class="input-group mb-1">
              <!--Input de lugarDeReclamoId-->
              <input type="text" name="lugarDeReclamoId" placeholder="Lugar de Reclamo" class="form-control" autocomplete="off" required ngModel />
            </div>
          </div>
        </div>

        <div class="col">
          <div class="p-3">
            <label for="basic-url">¿Quien lo encontró?</label>
            <div class="input-group mb-1">
              <!--Se muestra el nombre del usuario logeado, que es quien va a registrar el objeto-->
              <label *ngIf="afAuth.auth.currentUser" class="form-control" id="quienLoEncontro">{{ afAuth.auth.currentUser.displayName }}</label>
            </div>
          </div>
          <div class="p-3">
            <label for="basic-url">Tipo de documento *</label>
            <div class="input-group mb-1">
              <!--Select de tipo_identificacion de usuario-->
              <select type="text" name="tipoDocumento" placeholder="Tipo" class="custom-select" autocomplete="off" ngModel required>
                <option value="1">Cédula</option>
                <option value="2">Tarjeta de Identidad</option>
                <option value="3">Cédula de Extranjeria</option>
                <option value="3">Pasaporte</option>
              </select>
            </div>
          </div>
          <div class="p-3">
            <label for="basic-url">Número de documento *</label>
            <div class="input-group mb-1">
              <!--Input de numIdentificacion del usuario-->
              <input type="text" name="numIdentificacion" placeholder="Numero" class="form-control" autocomplete="off" ngModel required/>
            </div>
          </div>
          <div class="p-3">
            <label for="basic-url">Correo</label>
            <div class="input-group mb-1">
              <!--Se muestra el correo del usuario logeado, que es quien va a registrar el objeto-->
              <label name="correo" *ngIf="afAuth.auth.currentUser" class="form-control" disabled>{{ afAuth.auth.currentUser.email }}</label>            </div>
          </div>

          <div class="p-3">
            <label for="basic-url">Observaciones</label>
            <div class="input-group mb-1">
              <!--Input de observaciones-->
              <input type="text" name="observaciones" placeholder="Observaciones" class="form-control observaciones" autocomplete="off" ngModel />
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="p-3">
            <!--Agregar una imagen del objeto-->
            <input type="file" (change)="uploadFile($event)" accept="image/*" class="btn btn-secondary btn-general mb-4">
          </div>
          <div class="btn-toolbar" style="justify-content: center; display: flex;" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group m-2" role="group" aria-label="First group">
              <!--Boton para crear el objeto-->
            <button type="submit" value= "submit" class="btn btn-secondary btn-general">
                <i class="fa fa-check-circle pr-2"></i>Publicar
              </button>
            </div>
            <div class="btn-group m-2" role="group" aria-label="Second group">
              <!--Boton para regresar al Home-->
              <button [routerLink]="['/home']" routerLinkActive="router-link-active" type="button" class="btn btn-secondary btn-general">
                <i class="fa fa-times-circle pr-2"></i>Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
