<div class="text-center container containerPrincipal">
  <div class="card shadow-lg d-flex p-3 m-3">
    <div class="p-4">
      <h1>App Lost UdeA<i class="fa fa-search pl-2"></i></h1>
    </div>

    <!--Tabla-->
    <div>
      <div class="row table-wrapper">
        <table class="table table-striped m-2">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Titulo</th>
              <th scope="col">Descripción</th>
              <th scope="col">fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let notification of notifications; index as i">

              <th scope="row">{{ i + 1 }}</th>
              <td>{{ notification.data.title }}</td>
              <td>{{ notification.data.body }}</td>
              <td>{{ notification.fecha | date: 'dd MMM HH:mm'}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="row">
        <!--Paginador-->
        <div class="col p-3">
          <button type="button" class="btn btn-secondary btn-general" (click)="getNextPage()"><i
              class="fa fa-chevron-circle-right pr-1"></i>Cargar más resultados</button>
        </div>
        <!--Home-->
        <div class="col p-3">
          <button [routerLink]="['/home']" routerLinkActive="router-link-active" type="button"
            class="btn btn-secondary btn-general"><i class="fa fa-times-circle pr-2"></i>Regresar</button>
        </div>
      </div>
    </div>
  </div>
</div>
