#divChart{
    vertical-align: center;

}
.chartDona{
    max-width: 6000px ;
    max-height: 800px ;
}
.chartBarra{
    max-width: 800px ;
    max-height: 800px ;
}
.chartLinea{
    max-width: 700px ;
    max-height: 900px ;
}