<div class="text-center container containerPrincipal">
  <div class="card shadow-lg d-flex p-3 m-3">

    <!--Titulo-->
    <div class="p-4">
      <h1>App Lost UdeA<i class="fa fa-search pl-2"></i></h1>
    </div>

    <div class="row">
      <div class="col">

        <div class="p-3">
          <label for="basic-url">Nombre del objeto:</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control" id="queEncontraste">
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">¿Cuando se encontró?</label>
          <div class="input-group mb-1">
            <input class="form-control" type="datetime-local" id="cuandoSeEncontro">
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">¿Dónde se encontró?</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control" id="dondeSeEncontro">
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">ID del objeto</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control" id="dondeSeEncontro" disabled>
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">Imagen del objeto:</label>
          <img class="imgResponsive p-3" src="../../assets/img/not-found-image-15383864787lu.jpg" alt="NotFound">
        </div>

      </div>
      <div class="col">

        <div class="p-3">
          <label for="basic-url">¿Quien lo encontró?</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control" id="quienLoEncontro">
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">Tipo de documento</label>
          <div class="input-group mb-1">
            <select class="custom-select" id="categoria">
              <option selected>Elige una opción</option>
              <option value="1">Cédula</option>
              <option value="2">Tarjeta de Identidad</option>
              <option value="3">Cédula de Extranjeria</option>
              <option value="3">Pasaporte</option>
            </select>
          </div>
        </div>
        <div class="p-3">
          <label for="basic-url">Número de documento</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control" id="documento">
          </div>
        </div>

        <div class="p-3">
          <label for="basic-url">Categoría:</label>
          <div class="input-group mb-1">
            <select class="custom-select" id="categoria">
              <option selected>Elige una opción</option>
              <option value="1">TIP</option>
              <option value="2">Documento/Tarjeta</option>
              <option value="3">Llaves</option>
              <option value="3">PC/Celular/Tablet</option>
              <option value="3">Ropa</option>
              <option value="3">Equipo deportivo</option>
              <option value="3">Bicicleta</option>
            </select>
          </div>
        </div>

        <div class="p-3">
          <label for="basic-url">Estado del objeto:</label>
          <div class="input-group">
            <select class="custom-select" type="text" id="categoria" (change)="optionValue=$event.target.value">
              <option [value]="option.id" *ngFor="let option of options">{{option.name}}</option>
            </select>
          </div>
        </div>

        <ng-container *ngIf="optionValue  == 3">
          <div class="p-3">
            <label for="basic-url">¿Quien lo reclamo?</label>
            <div class="input-group mb-1">
              <input type="text" class="form-control" id="quienReclamo">
            </div>
          </div>
          <div class="p-3">
            <label for="basic-url">¿Cuando reclamo?</label>
            <div class="input-group mb-1">
              <input type="text" class="form-control" id="cuandoReclamo">
            </div>
          </div>
      </ng-container>

        <div class="p-3">
          <label for="basic-url">Observaciones</label>
          <div class="input-group mb-1">
            <input type="text" class="form-control observaciones" id="observaciones">
          </div>
        </div>
      </div>
    </div>

    <div class="btn-toolbar mt-3" style="justify-content: center; display: flex;" role="toolbar"
      aria-label="Toolbar with button groups">
      <div class="btn-group m-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-secondary btn-general"><i
            class="fa fa-check-circle pr-2"></i>Actualizar</button>
      </div>
      <div class="btn-group m-2" role="group" aria-label="Second group">
        <button [routerLink]="['/buscarobjeto']" routerLinkActive="router-link-active" type="button"
          class="btn btn-secondary btn-general"><i class="fa fa-times-circle pr-2"></i>Regresar</button>
      </div>
    </div>
  </div>
</div>