<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [class.active]="active" class="border bordeSidebar shadow">
    <div class="sidebar-header">
      <h3 class="navbarHeader">Bienvenido</h3>
    </div>
    <div>
      <h5 class="navbarUser m-2" *ngIf ="afAuth.auth.currentUser">{{afAuth.auth.currentUser.displayName}}</h5>
      <div class="row">
        <div class="col">
          <h6 class="navbarUser p-2">Último Ingreso:</h6>
        </div>
        <div class="col">
          <h6 class="navbarUser p-2">16/12/2019</h6>
        </div>
      </div>
    </div>

    <ul class="list-unstyled components ">
      <li class="active">
        <a [routerLink]="['/home']" routerLinkActive="router-link-active" aria-expanded="false">Home</a>
      </li>
      <li class="navbarUser">
        <a [routerLink]="['/buscarobjeto']" routerLinkActive="router-link-active">Buscar Objeto</a>
      </li>
      <li class="navbarUser">
        <a [routerLink]="['/encontreobjeto']" routerLinkActive="router-link-active">Encontre Objeto</a>
      </li>
      <li class="navbarUser">
        <a [routerLink]="['/notificaciones']" routerLinkActive="router-link-active">Notificaciones</a>
      </li>
      <li class="navbarUser" *ngIf ="isadministrador == true; else noAdmin">
        <a [routerLink]="['/estadisticas']" routerLinkActive="router-link-active">Estadisticas</a>
      </li>
      <ng-template #noAdmin>
        <div></div>
      </ng-template>
    </ul>
    <ul class="list-unstyled CTAs">
      <li>
        <a (click)="auth.signOut()" class="article" >Cerrar Sesión</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <button type="button" class="btn btn-info toggleButton" (click)="showSidebar()">
      <i class="fas fa-align-left"></i>
    </button>
  </div>
</div>
