/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


body {
    /*background-color: rgb(146, 190, 153);*/
    background-color: rgb(238, 238, 238);
    font-size: 16px;


    }


.card{
    /*background-color: rgb(243, 225, 225);*/
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    margin: 1rem;
}

.imgResponsive{

    width: 100%;
    max-width: 350px;
    height: auto;
    
}

.btn-general{
    background-color: rgb(1, 96, 45) !important;
    font-weight: 500 ;
    box-shadow: 0 8px 16px 0 rgba(20, 20, 20, 0.2), 0 6px 20px 0 rgba(20, 20, 20, 0.19);
}

.scrollbar {
    height: 700px;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    margin-bottom: 25px;
    }

.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
    }
.observaciones{
    height: 100px !important;
}

h1{
    text-shadow: 2px 2px 3px rgb(173, 172, 172);
    font-weight: bold;
    color: rgb(1, 96, 45);
  }

ul{
    margin: 0rem;
    padding: 0rem;
}

@media (min-width: 768px) {

    .containerPrincipal{
        position: center;
        max-width: 50rem;
    }

    }