<head>
  <title>AppLostUdeA</title>
</head>

<body>
<!--Titilo del componente-->
<div class="text-center container">
  <div class="card shadow-lg d-flex">
    <div class="p-4">
      <h1>App Lost UdeA<i class="fa fa-search pl-2"></i></h1>
    </div>

    <div>
      <!--Inicio-->
      <div class="p-3">
        <button [routerLink]="['/encontreobjeto']" routerLinkActive="router-link-active" type="button"
          class="btn btn-secondary btn-general">
          <i class="fa fa-chevron-circle-right pr-2"></i>Encontré un Objeto</button>
      </div>
      <div class="p-3">
        <button [routerLink]="['/buscarobjeto']" routerLinkActive="router-link-active" type="button"
          class="btn btn-secondary btn-general"><i class="fa fa-chevron-circle-right pr-2">
          </i>Buscar un Objeto</button>
      </div>

      <div class="row align-items-end col align-self-start pb-3 pt-5">
        <button (click)="auth.signOut()" type="button" class="btn btn-secondary btn-general" [routerLink]="['/login']"
          routerLinkActive="router-link-active"><i class="fa fa-times-circle pr-2">
          </i>Cerrar Sesión</button>
      </div>
    </div>
  </div>
</div>
</body>